.a-progress {
    background-color: #A39F8B;
    background-color: hsl(111, 15%, 35%);
    border-radius: 100px;
    height: .5em;
    padding: 1px;
    &-line {
        display: block;
        height: calc(.5em - 2px);
        width: 0px;
        min-width: calc(.5em - 2px);
        border-radius: 100px;
        background-color: #9A7C58;
        background-color: hsl(111, 45%, 60%);
        box-shadow: 0 0 .5em hsl(111, 75%, 70%);
        transition-duration: 1s;
    }
}