.m-cards {
    > .l-grid {
        > * {
            border-bottom: $border;
            @for $var from 1 to 12 {
                $amount: $var * 0.05;
                &:nth-of-type(#{$var}) {
                    .c-card {
                        opacity: #{1 - $amount};
                    }
                }
            }
            @include phone-up {
                .c-card {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:not(:nth-of-type(3n)) {
                border-right: $border;
            }
            &:nth-last-child(1) {
                border-bottom: 0;
            }
            @include phone-up {
                &:nth-last-child(2) {
                    border-bottom: 0;
                }
            }
            @include laptop-up {
                &:nth-last-child(3) {
                    border-bottom: 0;
                }
            }
            @include laptop {
                &:not(:nth-of-type(3n)) {
                    border-right: 0;
                }
                &:not(:nth-of-type(2n + 1)) {
                    border-right: $border;
                }
            }
            @include phone {
                &:not(:nth-of-type(2n)),
                &:not(:nth-of-type(3n)),
                &:not(:nth-of-type(2n + 1)) {
                    border-right: 0;
                }
                border-bottom: $border;
            }
            &.is-active {
                .c-card {
                    opacity: 1 !important;
                }
            }
        }
    }
    &.has-active {
        width: 100%;
        max-width: 26em;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 30px 15px;
        overflow-y: auto;
        > .l-grid {
            border: 3px solid #1b1b1b;
            border-radius: 10px;
            margin: auto;
            > * {
                flex: 0 0 100%;
                width: 100%;
                border: 0 !important;
                &:first-child {
                    border-bottom: 3px solid #1b1b1b !important;
                }
            }
        }
        .c-card {
            min-height: 0;
        }
        .f-time {
            background-color: #1b1b1b;
        }
    }
}

.f-time {
    &-circle {
        &-line {
            stroke: #4e4e4e;
        }
        &-progress {
            stroke-dashoffset: 566px; // 490px is complete (76 difference)
            transform: rotate(-90deg);
            transform-origin: center;
            stroke: $color-t;
            transition: all 1s ease-out;
        }
    }
    &-specs {
    }
}

.m-cards.has-active .c-card > .h-fill ~ * {
    display: none;
}
.m-cards.has-active .c-card > .h-fill div:empty {
    display: none;
}