$color-gray: #979797;
$color-t: #f5f5f5;
$color-bg: #050505;
$color-dark: #1B1B1B;

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
       url("assets/fonts/JetBrainsMono-Regular.woff") format("woff");
       font-weight: 400;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/fonts/JetBrainsMono-Bold.woff2") format("woff2"),
       url("assets/fonts/JetBrainsMono-Bold.woff") format("woff");
       font-weight: 700;
}